@import url("theme.css");

/* SIDEBAR */
/* Top logo block */
.wy-side-nav-search {
  background-color: #FEFEFE;
}

/* Search box */
.wy-side-nav-search input[type=text] {
  border-color: #4b7520;
}

/* Sidebar text */
.wy-menu-vertical p.caption {
  color: #6c9d3c;
}

.wy-menu-vertical li.current a:hover {
  background: #F8F8F8;
}

/* FONTS */
h1 {
  font-family: "VAGRoundedLTPro-Light","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 160%;
  color: #6c9d3c;
}

h2, .rst-content .toctree-wrapper p.caption {
  font-family: "VAGRoundedLTPro-Light","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 125%;
}
h3 {
  font-family: "VAGRoundedLTPro-Light","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 115%;
}

/* OTHER */

/* rst-content pre.literal-block, .rst-content div[class^='highlight'] {
  background: #e9f0e0;
} */
.highlight {
  background: #e9f0e0;
}
